# Ignore test results
tests/test_results/

# Ignore debug logs
debug.log
backtester_debug.log
data/logs/*.log
web/backend/backtester_debug.log

# Ignore Python cache directories
**/__pycache__/
*.py[cod]

# Ignore build directory
build/

# Ignore compiled Cython/C files
*.so
*.o
*.c

# Ignore swap files
*.swp

# Ignore generated analysis results
data/results/

# Ignore all log files
*.log

# Ignore all PNG files except those in web/frontend/public/
*.png
!/web/frontend/public/*.png

# Data, cache, and log folders
/data/

# Python venv

.venv
